@font-face {
  font-family: "iconfont"; /* Project id 3989248 */
  src: url('iconfont.woff2?t=1686450650849') format('woff2'),
       url('iconfont.woff?t=1686450650849') format('woff'),
       url('iconfont.ttf?t=1686450650849') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search2:before {
  content: "\e62a";
}

.icon-xiangji:before {
  content: "\e672";
}

.icon-xiazai1:before {
  content: "\e602";
}

.icon-xiaoxizhuanhuan:before {
  content: "\e60b";
}

.icon-xiushi:before {
  content: "\e67c";
}

.icon-bianjisekuai:before {
  content: "\ec7c";
}

.icon-jiantou:before {
  content: "\e63c";
}

.icon-jiantou-you:before {
  content: "\e603";
}

.icon-dingwei2:before {
  content: "\e615";
}

.icon-dingwei3:before {
  content: "\e62c";
}

.icon-dingwei:before {
  content: "\e60e";
}

.icon-dingwei-map:before {
  content: "\e610";
}

.icon-liebiao:before {
  content: "\e62d";
}

.icon-cuowuguanbiquxiao:before {
  content: "\e8e7";
}

.icon-gouwudai:before {
  content: "\e73e";
}

.icon-sousuo1:before {
  content: "\e60d";
}

.icon-shouye1:before {
  content: "\e618";
}

.icon-iconfontzhizuobiaozhun023103:before {
  content: "\e669";
}

.icon-wode:before {
  content: "\e650";
}

.icon-shouye:before {
  content: "\e601";
}

.icon-sousuo:before {
  content: "\e600";
}

